<html>
  <head>
    <title>To DO </title>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link href="/assets/assets-1/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="/assets/assets-1/todo-list.js"></script>
  </head>
  <body>
    <h1> task checker </h1>
    <div id="todo-table">
      <form>
        <input type="text" name="item" placeholder="add new item..." required />
        <button type="submit"> <i class="fas fa-check-circle"></i> </button>
      </form>
      <ul>
        <% for(var i = 0; i<todos.length; i++){ %>
          <li><i class="dc fas fa-check"></i><i class="dd far fa-trash-alt"></i><%= todos[i].item %></li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
